{% extends "PIdevBundle:Admin:Layout.html.twig" %}
{% block titrePage %}

    <div class="row page-titles">
        <div class="col-md-5 col-8 align-self-center">
            <h3 class="text-themecolor">Table</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('pi_dashboard')}}">Accueil</a></li>
                <li class="breadcrumb-item active">Table</li>
            </ol>
        </div>
    </div>
    <div align="right" class="nav-item hidden-sm-down search-box">
        <a class="nav-link hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-search"></i></a>
        <form class="app-search" style="display: none;">
            <input type="text" class="form-control" placeholder="Search &amp; enter"> <a class="srh-btn"><i class="ti-close"></i></a> </form>
    </div>
{% endblock %}
{% block body %}


        <center><h1> Listes des reclamations </h1></center>
        <br>
        <br>
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th> Id utilisateur</th>
                <th> Objet</th>
                <th> Description</th>
                <th> status</th>


            </tr>
            {% for reclamation in reclamations %}
                <tr>
                    <td>{{ reclamation.id }}</td>
                    <td>{{ reclamation.objet }}</td>
                    <td>{{ reclamation.description }}</td>
                    <td>{{ reclamation.statut }}</td>
                    <td ><a href="{{ path('Delete_Rec',{'id':reclamation.id }) }}" target="_blank">supprimer</a> </td>
                    <td><a href="{{ path('pi_tableRecDetail',{'id':reclamation.id ,'objet':reclamation.objet , 'description':reclamation.description,'statut':reclamation.statut}) }}" target="_blank">Detail</a> </td>
                    <td ><a href="{{ path('reclamation_Reponse',{'id':reclamation.id }) }}" target="_blank">Repondre</a> </td>


                </tr>

            {% endfor %}
        </table>
    </div>
{% endblock %}